package templates

import "fmt"

templ Page(count int64) {
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Hello World</title>
			<script src="https://unpkg.com/htmx.org@2.0.4"></script>
		</head>
		<body>
			<main>
				<h1>Local Hello World</h1>
				@Counter(count)
				<button
					hx-get="/fragments/counter"
					hx-target="#counter"
					hx-swap="outerHTML">
					Increment with htmx
				</button>
			</main>
		</body>
	</html>
}

templ Counter(count int64) {
	<div id="counter">{ fmt.Sprintf("hello world %d", count) }</div>
}
